:root {
    --bg1: #434343;
    --keySize: 60px;
    --keyColor: #ff0000;
}

body {
    background-color: var(--bg1);
}

#keyboard {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(122, 182, 235, 0);
    width: fit-content;
}

.keyButton {
    margin: 3px;
    width: var(--keySize);
    height: var(--keySize);
    font-size: large;
    border-radius: 4px;
    border: 1px solid var(--keyColor);
    background-color: transparent;
    color: var(--keyColor);
    transition: 0.1s;
}

.keyButton:active {
    color: black;
    background-color: var(--keyColor);
    box-shadow: 0px 0px 10px rgb(93, 215, 255);
}